@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: 'Nunito','Arial', sans-serif;
    background-color: #caeaff;
}

.h1 {
    max-width: 70vw;
    font-size: 3rem;
    color: #042700;
    margin: 0 auto;
    text-align: left;
    background-color: #caeaff;
    padding-left: 10rem;
}

.accordion {
    max-width: 70vw;
    margin: 0 auto;
    padding: 0;
    list-style: none;
  }
  .accordion-item {
    border-bottom: 0.1rem solid #8bd1ff;
    margin: 0 3rem;
  }

  .accordion-input {
    display: none;
  }

  .label-head {
    display: flex;
    justify-content: space-between;
    margin: 0 2rem;
  }


  .label-button {
    width: 2rem;
    height: 2rem;
    background-image: url("assets/svg/down_arrow.svg");
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 1s;
  }

  .accordion-label:hover .label-button, .accordion-input:checked ~ .accordion-label .label-button{
    transform: rotate(180deg);
  }

  .accordion-label {
    display: block;
    background-color: #caeaff;
    color: #075500;
    font-weight: 700;
    cursor: pointer;
    padding: 1rem 0;
    max-height: 3rem;
    transition: all 1s;
    overflow: hidden;
    font-size: 2rem;
  }

  .accordion-content {
    overflow: hidden;
    scale: 0.5;
    opacity: 0;
    visibility: hidden;
    transition: all 1s;
    padding: 1rem;
  }

.accordion-input:checked ~ .accordion-label{
    max-height: 33rem;
    animation: checked ease-in 1s;
  }

  @keyframes checked {
    0% {
      opacity: .2;
      color: #ff0000;
    }
    100% {
      opacity: 1;
      color: #075500;
    }
  }

  .accordion-input:checked ~ .accordion-label> .accordion-content {
    scale: 1;
    opacity: 1;
    visibility: visible;
  }

  .accordion-label:hover> .accordion-content {
    scale: 1;
    opacity: 1;
    visibility: visible;
  }

  .accordion-label:hover {
    max-height: 33rem;
  }


  .mem {
    display: block;
    margin: 0 auto;
    max-height: 28rem;
    border-radius: 1rem;
    border: 0.1rem solid #075500;
  }

  .accordion-input:checked ~ .accordion-label {
    background-color: #9cd2f7;
  }


