@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: 'Nunito','Arial', sans-serif;
    background-color: #caeaff;
    margin: 0;
    padding: 0;
}

.h1 {
    font-size: 3rem;
    color: #042700;
    background-color: #caeaff;
    margin: 0 2rem;
}

.accordion {
    max-width: 70vh;
    margin: 0 auto;
    padding: 0;
    list-style: none;
  }

  .accordion-item {
    border-bottom: 0.1rem solid #8bd1ff;
    margin: 0 3rem;
  }

  .accordion-input {
    display: none;
  }

  .label-head {
    display: flex;
    justify-content: space-between;
    margin: 0 2rem;
  }


  .label-button {
    width: 2rem;
    height: 2rem;
    /*background-image: url("assets/svg/down_arrow.svg");*/
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0;
    transition: all .5s;
  }

.accordion-input:checked ~ .accordion-label .label-button{
    transform: rotate(180deg);
  }

  .accordion-label {
    display: block;
    background-color: #caeaff;
    color: #075500;
    font-weight: 700;
    cursor: pointer;
    padding: 1rem 0;
    max-height: 3rem;
    transition: all 1s;
    overflow: hidden;
    font-size: 2rem;
  }

  .accordion-content {
    overflow: hidden;
    scale: 0.5;
    opacity: 0;
    visibility: hidden;
    transition: all 1s;
    padding: 1rem;
  }

  .accordion-input:active ~ .accordion-label {
    opacity: .4;
    color: #ff0000;
  }

.accordion-input:checked ~ .accordion-label{
    max-height: 33rem;
    animation: checked ease-in 1s;
    color: #042700;
    background-color: #9cd2f7;
  }

  @keyframes checked {
    0% {
      opacity: .4;
      color: #ff0000;
    }
    100% {
      opacity: 1;
      color: #042700;
    }
  }

  .accordion-input:checked ~ .accordion-label> .accordion-content {
    scale: 1;
    opacity: 1;
    visibility: visible;
  }


  .mem {
    display: block;
    margin: 0 auto;
    max-height: 28rem;
    max-width: 70vw;
    border-radius: 1rem;
    border: 0.1rem solid #075500;
  }


/* /////////////// HOVER /////////////////////// */
  @media (hover: hover) {
    .accordion:hover {
        cursor: pointer;
    }

    .accordion:hover .label-button {
        opacity: 1;
      }

    .accordion:hover .accordion-label {
      color: #042700;
    }

      .accordion-label:hover> .accordion-content {
        scale: 1;
        opacity: 1;
        visibility: visible;
      }

      .accordion-label:hover {
        max-height: 33rem;
      }

      .accordion-label:hover .label-button {
        transform: rotate(180deg);
      }
    }
/* //////////////////////    820px  /////////////////////// */
  @media (max-width: 820px) {
    .h1 {
        font-size: 2rem;
    }

    .accordion-item {
        margin: 0 1.5rem;
    }

    .accordion-label {
        max-height: 2rem;
        font-size: 1rem;
    }

    .label-button {
        width: 1rem;
        height: 1rem;
    }

    .accordion-input:checked ~ .accordion-label{
        max-height: 25rem;
      }

    .mem {
        max-height: 20rem;
    }
  }

  /* //////////////////////    450px  /////////////////////// */
  @media (max-width: 450px) {
    .accordion {
        max-width: 95vw;
        margin: 0 auto;
    }

    .accordion-item {
        margin: auto;
    }

    .h1 {
        font-size: 1.5rem;
    }

    .accordion-item {
        margin: 0 1.5rem;
    }

    .accordion-label {
        padding: 0.5rem 0;
        max-height: 1.2rem;
        font-size: 0.7rem;
    }

    .label-button {
        width: 0.7rem;
        height: 0.7rem;
    }

    .accordion-input:checked ~ .accordion-label{
        max-height: 20rem;
      }

    .mem {
        max-height: 15rem;
        max-width: 60vw;
    }
  }

